.main {
  min-width: 600px;
  width: auto;
  height: 400px;
  border: 3px solid;
  padding: 30px;
  border-radius: 15px 0 10px 15px;
  overflow: scroll;
}
.main p {
  padding: 0;
  margin: 0;
}

.main table {
  text-align: center;
}

.main table td {
  border: 1px solid rgba(44, 40, 40, 0.178);
  border-radius: 10px;
  padding: 0 10px 0 20px;
}

@media screen and (max-width: 568px) {
  .main {
    min-width: auto;
    height: 200px;
    font-size: 20px;
    padding: 20px;
    border: 2px solid;
    border-radius: 0px 0 10px 15px;
  }
}
